<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/styles/common.css">
    <link rel="stylesheet" href="../public/styles/responsive.css">
    <link rel="stylesheet" href="../public/lib/fontawesome/css/all.min.css">
    <link href="../public/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body text-center">
                        <h3 class="card-title">Danh sách bài nộp của môn ABC</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-content">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Thành phần điểm</th>
                                        <th scope="col">Trạng thái</th>
                                        <th scope="col" class="action-column">Hành động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Assignment 1</td>
                                        <td>
                                            <p class="card-text text-danger equal-width-td">
                                                Passed
                                            </p>
                                        </td>
                                        <td class="action-column">
                                          <div class="btn-group-sm" role="group" aria-label="Basic outlined example">
                                            <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Xem chi tiết" >
                                                <i class="fa-solid fa-circle-info"></i>
                                                <span>Xem chi tiết</span>
                                            </button>
                                            <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Nộp bài">
                                                <i class="fa-solid fa-plus"></i>
                                                <span>Nộp bài</span>
                                            </button>
                                            <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Đặt lịch">
                                                <i class="fa-regular fa-calendar-days"></i>
                                                <span>Đặt lịch</span>
                                            </button>
                                          </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Mark</td>
                                        <td>
                                            <p class="card-text text-success equal-width-td">
                                                Passed
                                            </p>
                                        </td>
                                        <td class="action-column">
                                            <div class="btn-group-sm" role="group" aria-label="Basic outlined example">
                                                <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Xem chi tiết" >
                                                    <i class="fa-solid fa-circle-info"></i>
                                                    <span>Xem chi tiết</span>
                                                </button>
                                                <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Nộp bài">
                                                    <i class="fa-solid fa-plus"></i>
                                                    <span>Nộp bài</span>
                                                </button>
                                                <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Đặt lịch">
                                                    <i class="fa-regular fa-calendar-days"></i>
                                                    <span>Đặt lịch</span>
                                                </button>
                                              </div>
                                        </td>
                                    </tr>
                                    <!-- Add more table rows here -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
