<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-body text-center">
          <h4 class="card-title">Xem thông tin bài nộp</h4>
        </div>
      </div>
      <div class="container mt-4">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6 col-md-4"><b>Thành phần điểm: </b></div>
                  <div class="col-sm-6 col-md-4">Assignment 3</div>
                </div>
                <div class="row mt-2">
                  <div class="col-sm-6 col-md-4"><b>Môn học:</b></div>
                  <div class="col-sm-6 col-md-4">WEB101-2A</div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-6 col-md-4"><b>Email học viên:</b></div>
                  <div class="col-sm-6 col-md-4">HVFx200@gmail.com</div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-6 col-md-4">
                    <b>File nộp của học viên</b>
                  </div>
                  <div class="col-sm-6 col-md-4">
                    <button type="button" class="btn btn-link">Link tải</button>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-6 col-md-4">
                    <b>Thời điểm đăng ký review:</b>
                  </div>
                  <div class="col-sm-6 col-md-4">12/07/2023 (Chiều)</div>
                </div>
                <div class="row mt-3 p-0.5">
                  <div class="col-sm-6 col-md-4"><b>Thời điểm review</b></div>
                  <div class="col-sm-6 col-md-4">15:00 Ngày 12/07/2023</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <div class="row mt-3">
                  <div class="col-sm-6 col-md-4"><b>Lần review:</b></div>
                  <div class="col-sm-6 col-md-4">2/2</div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-6 col-md-4"><b>Email Mentor:</b></div>
                  <div class="col-sm-6 col-md-4">Mentor@gmail.com</div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-6 col-md-4"><b> Option đã chọn:</b></div>
                  <div class="col-sm-6 col-md-4">Chỉ HT nếu có 2 option</div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-6 col-md-4"><b>Điểm:</b></div>
                  <div class="col-sm-6 col-md-4">7</div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-6 col-md-4"><b>Nhận xét:</b></div>
                  <div class="col-sm-6 col-md-4">Học viên hiểu cơ bản</div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-6 col-md-4"><b>Trạng thái:</b></div>
                  <div class="col-sm-6 col-md-4 p-2">
                    <p class="card-text text-success">
                      Submitted
                  </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="card col-md-12 mt-4 mb-2">
              <div class="card-body">
                <h5 class="card-title text-bg-light">Chi tiết bài chấm</h5>
                <div class="card-content">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Trọng số</th>
                        <th scope="col">Mô tả tiêu chí</th>
                        <th scope="col">Điểm</th>
                        <th scope="col">Nhận xét</th>
                        <th scope="col">Tiêu chí bắt buộc?</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
